<head>
    <title>Linear Regression</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<style>
    body {
        padding-top: 7%;
        padding-left: 7%;
        padding-right: 7%;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr,
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 4px;
    }

    #customers tr:nth-child(even) {
        background-color: rgba(206, 27, 40, 0.4);
    }

    #customers tr:hover {
        background-color: gray;
    }

    #customers thead {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: rgba(206, 27, 40, 1);
        color: white;
    }
</style>

<center>
</center>
<h1 style="text-align: center">Linear Regression</h1>
<form action="/regression" method="POST">

    <div style="float:left;width:50%">
        Independent attribute (X):
        <select name="attribute" style="width:70%;padding-top:0%" required>
            <option value="" disabled selected hidden>Select an attribute</option>
            <option value="UNEMPLOYMENT_RATE"> Unemployment rate </option>
        </select>
        <br />
        Year:
        <select name="year" style="width:70%;padding-top:0%" required>
            <option value="" disabled selected hidden>Select a year</option>
            <option value="2013"> 2013 </option>
            <option value="2014"> 2014 </option>
            <option value="2015"> 2015 </option>
            <option value="2016"> 2016 </option>
            <option value="2017"> 2017 </option>
            <option value="2018"> 2018 </option>
        </select>
        <br />
        <br />
    </div>
    <div style="float:right;width:50%">
        X value:
        <input type="text" name="x" placeholder="Select x" style="width:70%" required />
        <br />
        <br />
    </div>
    <div style="padding-left: 35%; padding-top: 20%">
        <input type="submit" class="button" value="Fetch Result">
    </div>
</form>


<br>
<br>
{{!-- </center> --}}

<script type="text/javascript">
    state_arr = [{{{ state_arr }}}];
    x_arr = [{{ x_arr }}];
    y_arr = [{{ y_arr }}];
    attribute = [{{{ attribute }}}][0];
    input_data = [[{{{ attribute }}}, 'Number of incidents', { role: 'annotation' }]];
    for (var i = 0; i < x_arr.length; i++) {
        input_data.push([x_arr[i], y_arr[i], state_arr[i]]);
    }
    console.log(input_data);
    google.charts.load('current', { 'packages': ['corechart'] });
    if (input_data.length > 1) {
        google.charts.setOnLoadCallback(drawChart);
    }
    function drawChart() {
        var data = google.visualization.arrayToDataTable(input_data);

        var options = {
            title: 'Scatter Plot',
            hAxis: { title: attribute, minValue: 0, maxValue: x_arr.maxValue },
            vAxis: { title: 'Number of incidents', minValue: 0, maxValue: y_arr.minValue },
            legend: 'none',
            trendlines: { 0: {} }    // Draw a trendline for data series 0.
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
{{#if y_predicted}}
<h2>Estimated Incidents (y): {{y_predicted}}</h2>
{{/if}}
<div id="chart_div" style="width: 100%; height: 800px;"></div>


{{!-- {{#if NOCRIME}}
<h2 style="padding-left:15%"><i>No crimes committed during this period</i></h2>
{{/if}}
{{#if data}}
<center>
    <table border='1' id="rankings" style="padding-right:25%">
        <thead>
            <tr>
                <td>Rank</td>
                <td>{{attribute}}</td>
                <td>State</td>
            </tr>
        </thead>
        {{#each data}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>

        </tr>
        {{/each}}
    </table>
</center>
{{/if}} --}}
<br />