<head>
    <title>Linear Regression</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<style>
    body {
        padding-top: 7%;
        padding-left: 7%;
        padding-right: 7%;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    tr,
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 4px;
    }

    #customers tr:nth-child(even) {
        background-color: rgba(206, 27, 40, 0.4);
    }

    #customers tr:hover {
        background-color: gray;
    }

    #customers thead {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: rgba(206, 27, 40, 1);
        color: white;
    }
</style>

<center>
</center>
<h1 style="text-align: center">Linear Regression</h1>
<form action="/regression" method="POST">

    <div style="float:left;width:50%">
        Independent attribute (X):
        <select name="attribute" style="width:70%;padding-top:0%" required>
            <option value="" disabled selected hidden>Select an attribute</option>
            <option value="UNEMPLOYMENT_RATE"> Unemployment rate </option>
        </select>
        <br />
        <br />
    </div>
    <div style="float:right;width:50%">
        X value:
        <input type="text" name="x" placeholder="Select x" style="width:70%" required />
        <br />
        <br />
    </div>
    <div style="padding-left: 35%; padding-top: 20%">
        <input type="submit" class="button" value="Fetch Result">
    </div>
</form>


<br>
<br>
{{!-- </center> --}}

<script type="text/javascript">
    console.log({{ arr data }});
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Unemployment rate', 'Number of incidents', { role: 'annotation' }],
            [8, 12, 'Point 1'],
            [4, 5.5, 'Point 1'],
            [11, 14, 'Point 1'],

        ]);

        var options = {
            title: 'Age vs. Weight comparison',
            hAxis: { title: 'Unemployment rate', minValue: 0, maxValue: 15 },
            vAxis: { title: 'Number of incidents', minValue: 0, maxValue: 15 },
            legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }
</script>
<div id="chart_div" style="width: 900px; height: 500px;"></div>


{{!-- {{#if NOCRIME}}
<h2 style="padding-left:15%"><i>No crimes committed during this period</i></h2>
{{/if}}
{{#if data}}
<center>
    <table border='1' id="rankings" style="padding-right:25%">
        <thead>
            <tr>
                <td>Rank</td>
                <td>{{attribute}}</td>
                <td>State</td>
            </tr>
        </thead>
        {{#each data}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>

        </tr>
        {{/each}}
    </table>
</center>
{{/if}} --}}
<br />